.App {
  text-align: center;
  background: rgb(255,255,255);
  background: 
    linear-gradient(0deg, 
    rgba(255,255,255,1) 0%, 
    rgba(45,253,247,1) 100%);
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

