.square {
  max-width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
}

.item-card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5%;
  padding: 20px;
  margin: 15px;
  height: 250px;
  width: 250px;
  align-content: center;
  background-color: white;
}

.text-image {
  height: 200px;
}

.love {
  margin-top:15px;
  margin-bottom: -15px;
  background-color: rgb(255, 255, 5);
}

p {
  margin-top: 10px;
}

.text {
  padding-top: 75px;
}
